/* navbar 안의 모든 링크는 밑줄 제거 */
.navbar-nav a:hover {
  text-decoration: none;
}

/* active 상태에서만 파란 밑줄 */
.navbar-nav .nav-link.active {
  border-bottom: 2px solid var(--tblr-primary) !important;
  color: var(--tblr-primary) !important;
}
